.carousel{
   margin-bottom: 50px;
   padding-top: 30px;
}

.container{
   position: relative;
}

.btnSt, .btnAdd{
   box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.75), -5px -5px 30px #505050;
   background: linear-gradient(0deg, #444444 10.44%, #1B1B1B 95.09%);
   border-radius: 100px;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.next {
   width: 46.72px;
   height: 46.72px;
   background: linear-gradient(169deg, #444444 6.7%, #262626 90.13%);
   border-radius: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.next svg {
   transform: rotate(180deg);
}

.btnAdd{
   position: absolute;
   bottom: 43%;
   left: 72.4%;
   z-index: 1;
}

